body{
    background-image: url(../images/header1500x445.jpg);
}



#login-form-container{/*Div:en som håller formuläret*/
    width: 25vw;
    height: 50vh;
    margin-left:37.5vw;
    margin-top: 25vh;
    padding: 2vw;
    
    background-color:aliceblue;
    
    
    
}