body{
    background-image: url(../images/header1500x445.jpg);
}

#main-container{/*Det här är koden för den div:en som innehåller huvudinnehållet*/
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: aqua;
}

#login-form-container{/*Div:en som håller formuläret*/
    width: 30vw;
    height: 40vh;
    margin-left: 30vw;
    
    
}